select.championSelectBox(name='champion_id')
  option(value='266') Aatrox
  option(value='103') Ahri
  option(value='84') Akali
  option(value='12') Alistar
  option(value='32') Amumu
  option(value='34') Anivia
  option(value='1') Annie
  option(value='22') Ashe
  option(value='136') Aurelion Sol
  option(value='268') Azir
  option(value='432') Bard
  option(value='53') Blitzcrank
  option(value='63') Brand
  option(value='201') Braum
  option(value='51') Caitlyn
  option(value='69') Cassiopeia
  option(value='31') Cho'Gath
  option(value='42') Corki
  option(value='122') Darius
  option(value='131') Diana
  option(value='36') Dr. Mundo
  option(value='119') Draven
  option(value='245') Ekko
  option(value='60') Elise
  option(value='28') Evelynn
  option(value='81') Ezreal
  option(value='9') Fiddlesticks
  option(value='114') Fiora
  option(value='105') Fizz
  option(value='3') Galio
  option(value='41') Gangplank
  option(value='86') Garen
  option(value='150') Gnar
  option(value='79') Gragas
  option(value='104') Graves
  option(value='120') Hecarim
  option(value='74') Heimerdinger
  option(value='420') Illaoi
  option(value='39') Irelia
  option(value='40') Janna
  option(value='59') Jarvan IV
  option(value='24') Jax
  option(value='126') Jayce
  option(value='202') Jhin
  option(value='222') Jinx
  option(value='429') Kalista
  option(value='43') Karma
  option(value='30') Karthus
  option(value='38') Kassadin
  option(value='55') Katarina
  option(value='10') Kayle
  option(value='85') Kennen
  option(value='121') Kha'Zix
  option(value='203') Kindred
  option(value='96') Kog'Maw
  option(value='7') LeBlanc
  option(value='64') Lee Sin
  option(value='89') Leona
  option(value='127') Lissandra
  option(value='236') Lucian
  option(value='117') Lulu
  option(value='99') Lux
  option(value='54') Malphite
  option(value='90') Malzahar
  option(value='57') Maokai
  option(value='11') Master Yi
  option(value='21') Miss Fortune
  option(value='82') Mordekaiser
  option(value='25') Morgana
  option(value='267') Nami
  option(value='75') Nasus
  option(value='111') Nautilus
  option(value='76') Nidalee
  option(value='56') Nocturne
  option(value='20') Nunu
  option(value='2') Olaf
  option(value='61') Orianna
  option(value='80') Pantheon
  option(value='78') Poppy
  option(value='133') Quinn
  option(value='33') Rammus
  option(value='421') Rek'Sai
  option(value='58') Renekton
  option(value='107') Rengar
  option(value='92') Riven
  option(value='68') Rumble
  option(value='13') Ryze
  option(value='113') Sejuani
  option(value='35') Shaco
  option(value='98') Shen
  option(value='102') Shyvana
  option(value='27') Singed
  option(value='14') Sion
  option(value='15') Sivir
  option(value='72') Skarner
  option(value='37') Sona
  option(value='16') Soraka
  option(value='50') Swain
  option(value='134') Syndra
  option(value='223') Tahm Kench
  option(value='91') Talon
  option(value='44') Taric
  option(value='17') Teemo
  option(value='412') Thresh
  option(value='18') Tristana
  option(value='48') Trundle
  option(value='23') Tryndamere
  option(value='4') Twisted Fate
  option(value='29') Twitch
  option(value='77') Udyr
  option(value='6') Urgot
  option(value='110') Varus
  option(value='67') Vayne
  option(value='45') Veigar
  option(value='161') Vel'Koz
  option(value='254') Vi
  option(value='112') Viktor
  option(value='8') Vladimir
  option(value='106') Volibear
  option(value='19') Warwick
  option(value='62') Wukong
  option(value='101') Xerath
  option(value='5') Xin Zhao
  option(value='157') Yasuo
  option(value='83') Yorick
  option(value='154') Zac
  option(value='238') Zed
  option(value='115') Ziggs
  option(value='26') Zilean
  option(value='143') Zyra