option(value='1' selected=(selected_region == 1 ? true : undefined)) NA
option(value='2' selected=(selected_region == 2 ? true : undefined)) BR
option(value='3' selected=(selected_region == 3 ? true : undefined)) EUN
option(value='4' selected=(selected_region == 4 ? true : undefined)) EUW
option(value='5' selected=(selected_region == 5 ? true : undefined)) JP
option(value='6' selected=(selected_region == 6 ? true : undefined)) KR
option(value='7' selected=(selected_region == 7 ? true : undefined)) LAN
option(value='8' selected=(selected_region == 8 ? true : undefined)) LAS
option(value='9' selected=(selected_region == 9 ? true : undefined)) OCE
option(value='10' selected=(selected_region == 10 ? true : undefined)) TR
option(value='11' selected=(selected_region == 11 ? true : undefined)) RU