doctype html
html
  head
    block head_block
    link(rel='stylesheet', href='/stylesheets/style.css')
    include partials/script_includes
  body
    include partials/menu_bar
    .pageContent
      block content

  include footer